
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f0f0f0;
}

h1 {
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0; 
}

h2 {
    color: #000000;
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

h3 {
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 20px;
    font-weight: bold;
}

.contact {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
    padding: 0;
}

.mail, .phone, .linkedin {
    color: #000000;
    text-decoration: none;
}

.mail:hover, .phone:hover, .linkedin:hover, .badge:hover {
    color: #9b1a1a;
}

.phone {
    margin: 0 100px; /* Added margin between links */
}


.sum {
    text-align: center;
    padding: 0 ;
}

.title {
    color: #000000;
    background-color: rgb(152, 236, 199);
    font-family: 'Times New Roman';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-top: 2px solid #000000;
    width: 69%;
    margin: 0 auto;
}

.content {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    width: 69%;
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: 16%;
}

.experience {
    padding: 0px 0;
}

.exp_name {
    text-align: left;
    margin-left: 16%;
    margin-top: 4px;
    font-size: 20px;
}

.date{
    float: right;
    margin-right: 19%;
    font-size: 20px;
}
.subtitle{
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 20px;
    font-style: italic;
    font-weight:normal;
    text-align: left;
    margin-left: 16%;
}
.list {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    width: 69%;
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: 20%;
}
.list_2 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    width: 69%;
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: 18%;
    list-style-type: square; /* Outer list */
}
.badge{
    color: #2f60c4;
    text-decoration: none;
}

.column_2, .column_3, .true_sign, .true_sign_column_4 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    width: 69%;
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: 18%;
    padding: 0px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column_3, .true_sign {
    grid-template-columns: 1fr 1fr 1fr;
}

.true_sign li::before {
    content: "✓ ";
    font-weight: bold;
}

.true_sign{
    margin-left: 16.5%;
    list-style: none;
}

.true_sign_column_4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}

.true_sign_column_4 li::before {
    content: "✓ ";
    font-weight: bold;
}

.page_end{
    margin: 70px;
}